.App {
  background-color: rgb(11,5,28);
  min-height: 100vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

.header { grid-area: 1 / 1 / 2 / 11;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding-top: 5%; */
  padding-left: 10px;
    /* background-color: rgb(93, 8, 228); */

    
}

.modal {
    max-width: 50%;
    padding: 1rem 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 0.25rem;
  }

.button1 {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  /* letter-spacing: 2.5px; */
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  background-color: rgb(0, 255, 21);
  box-shadow: 0 0 5px rgb(0, 255, 21),
  0 0 25px rgb(0, 255, 21);
}

.button2 {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  /* letter-spacing: 2.5px; */
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  background-color: rgb(0, 255, 21);
  box-shadow: 0 0 5px rgb(0, 255, 21),
  0 0 25px rgb(0, 255, 21);
}

.button3 {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  /* letter-spacing: 2.5px; */
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  background-color: rgb(0, 255, 21);
  box-shadow: 0 0 5px rgb(0, 255, 21),
  0 0 25px rgb(0, 255, 21);
}

.button:hover {
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan;
}

.body { grid-area: 2 / 1 / 6 / 11; 
    display: flex;
    justify-content: space-around;
}
.one{
    /* width: 200px; */
    width: clamp(200px,30%);
    /* padding-top: 100%; */
    text-align: center;
    /* max-width: 50%; */
    padding: 1rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 0.9rem;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 240px;
    box-shadow: 0px 5px 15px rgba(0, 255, 21, 0.25);
  }
  
  .two{
    /* width: 200px; */
    width: clamp(200px,30%);
    /* padding-top: 100%; */
    text-align: center;
    /* max-width: 50%; */
    padding: 1rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 0.9rem;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 240px;
    box-shadow: 0px 5px 15px rgba(0, 255, 21, 0.25);
  }
  
  .three{
    /* width: 200px; */
    width: clamp(200px,30%);
    /* padding-top: 100%; */
    text-align: center;
    /* max-width: 50%; */
    padding: 1rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 0.9rem;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 240px;
    box-shadow: 0px 5px 15px rgba(0, 255, 21, 0.25);
  }

  /* Charts */
  @property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  .pie {
    --p:100;
    --b:40px;
    --c:rgb(0, 255, 21);
    --w:150px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    place-content:center;
    font-size:20px;
    font-weight:bold;
    font-family:sans-serif;
    
  }
  .pie:before,
  .pie:after {
    content:"";
    position:absolute;
    border-radius:40%;
  }
  .pie:before {
    inset:0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation:p 1s .10s both;
  }
  
  
  @keyframes p {
    from{--p:0}
  }
  
  body {
    background:#ddd;
  }
  
  
  
  /* ////////////////////////// */

  /* Icon */
  
  /* css.gg */
  @import url('https://css.gg/css');
  
  .gg-thermometer { 
    margin-top: 10%;
    margin-left: 45%;
    color: rgb(255, 255, 7);
    --ggs: 2;
  }
  /* //////// */
  
  

  